<!DOCTYPE html>
<html>
<head>
  <title>Preunion</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div id="user_header">
    <% if current_user %>
      Logged in as <%= current_user.email %>.
      <%= link_to "Log Out", destroy_user_session_path , :method => :delete%>
    <% else %>
      <%= link_to "Sign in with github", user_omniauth_authorize_path(:github)%>
      <%= link_to "Sign Up", new_user_registration_path %> or
      <%= link_to "Log In", new_user_session_path %>
    <% end %>
  </div>
  <p class="notice"><%= notice %></p>
  <p class="alert"><%= alert %></p>
<%= yield %>

</body>
</html>
